body {
  background: #f1f1f1;
}

header {
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);

  text-align: center;
  background: white;
}

main {
  width: min(80%, 480px);

  margin: 2rem auto;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);

  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

.form__row {
  margin-bottom: .75rem;
}

input {
  width: 100%;
  margin-top: .25rem;
  padding: .5rem;
  border-radius: .5rem;
}

textarea {
  width: 100%;

  margin-top: .25rem;
}

input[type="checkbox"],
input[type="radio"] {
  width: min-content;
}


input[type="button"],
input[type="submit"] {
  min-width: 5rem;
  min-height: 3rem;

  outline: none;
  border: 0;
  padding: .5rem 2rem;
  background: #e0e0e0;
  /* box-shadow: 1px 1px 4px #d3d3d3,
    -1px -1px 4px #ededed; */

  border-radius: .5rem;

  transition: .1s;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  cursor: pointer;
  background: #eeeeee;
}

input[type="button"]:active,
input[type="submit"]:active {
  cursor: pointer;
  background: #e1e1e1;
}

footer {
  height: 400px;
  background: white;
}